script#employee-row[type="text/x-template"]
  tr
    td
      div[v-if="editMode"]
        input[type="text" v-model="employee.name"]
        br
        span[style="color:red"]
          = "{{ errors.name }}"
      div[v-else]
        | {{ employee.name }}
    td
      div[v-if="editMode"]
        input[type="text" v-model="employee.email"]
        br
        span[style="color:red"]
          | {{ errors.email }}
      div[v-else]
        | {{ employee.email }}
    td
      div[v-if="editMode"]
        input[type="checkbox" v-model="employee.manager"]
      div[v-else]
        | {{ employee.manager ? '✔' : '' }}
    td
      |  <button v-if="editMode" @click="updateEmployee">Save
      |  <button v-else @click="editMode = true">Edit
      |  <button v-if="!editMode" @click="toggleManagerStatus">{{ employee.manager ? 'Demote' : 'Promote' }}
      |  <button v-if="!editMode" @click="fireEmployee" style=color:red>Fire


p#notice
  = notice
h1
  | Employees
table
  thead
    tr
      th
        | Name
      th
        | Email
      th
        | Manager
      th[colspan="3"]
  tbody
    - @employees.each do |employee|
      tr
        td
          = employee.name
        td
          = employee.email
        td
          = employee.manager
#employees
  table
    thead
      tr
        th
          | Name
        th
          | Email
        th
          | Manager
        th[colspan="3"]
    tbody
      tr is="employee-row" v-for="employee in employees" :employee="employee"
      - # 画面表示時にすべてのEmployeeのデータを表示して、各データを保持
      - # 以下、新規入力画面
      tr
        td
          input[type="text" v-model="employee.name"]
          br
          span[style="color:red"]
            | {{ errors.name }}
        td
          input[type="text" v-model="employee.email"]
          br
          span[style="color:red"]
            | {{ errors.email }}
        td
          input[type="checkbox" v-model="employee.manager"]
          br
        td
          |  <button @click="hireEmployee">Hire
br
br
br
#demo
  |  <input type="text" v-model="name", v-on:change="test">
  br
  |  {{email}} {{message}} 
  br
  button[v-on:click="execute"]
    | 送信
